.venv/
__pycache__/
.pytest_cache/
test-results/
playwright-report/
*.pyc
results/screenshots/
reports/
.env
state.json
framework/auth/state.json
framework/auth/.browser_data/
framework/auth/auth_democandidate.json
framework/auth/auth.json